/* 12bool.css */
.container {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

[class*="col-"] {
    box-sizing: border-box;
    min-width: 0;
}

.col-1 {
    flex: 1 1 calc(100% / 12);
}

.col-2 {
    flex: 1 1 calc((100% / 12) * 2);
}

.col-3 {
    flex: 1 1 calc((100% / 12) * 3);
}

.col-4 {
    flex: 1 1 calc((100% / 12) * 4);
}

.col-5 {
    flex: 1 1 calc((100% / 12) * 5);
}

.col-6 {
    flex: 1 1 calc((100% / 12) * 6);
}

.col-7 {
    flex: 1 1 calc((100% / 12) * 7);
}

.col-8 {
    flex: 1 1 calc((100% / 12) * 8);
}

.col-9 {
    flex: 1 1 calc((100% / 12) * 9);
}

.col-10 {
    flex: 1 1 calc((100% / 12) * 10);
}

.col-11 {
    flex: 1 1 calc((100% / 12) * 11);
}

.col-12 {
    flex: 1 1 calc(100%);
}

/* Offset classes */
.offset-1 {
    margin-left: calc((100% / 12) * 1);
}

.offset-2 {
    margin-left: calc((100% / 12) * 2);
}

.offset-3 {
    margin-left: calc((100% / 12) * 3);
}

.offset-4 {
    margin-left: calc((100% / 12) * 4);
}

.offset-5 {
    margin-left: calc((100% / 12) * 5);
}

.offset-6 {
    margin-left: calc((100% / 12) * 6);
}

.offset-7 {
    margin-left: calc((100% / 12) * 7);
}

.offset-8 {
    margin-left: calc((100% / 12) * 8);
}

.offset-9 {
    margin-left: calc((100% / 12) * 9);
}

.offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.offset-11 {
    margin-left: calc((100% / 12) * 11);
}

.content-align {
    justify-content: flex-end;
    /* This won't work as intended without display: flex on the parent */
}

.container-words {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}